Repository Esysc/stern-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, frontend-tests, go-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-tests:
  name: go tests
  entry: go test ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix CI: install frontend dependencies before pre-commit
  .github/workflows/ci.yml
Due: none

docs(changelog): prepare Unreleased section for next release
  CHANGELOG.md
Due: none

fix(ci): use Node 24 and golangci-lint v2 built with Go 1.25
  .github/workflows/ci.yml
Due: none

refactor(ci): centralize tool versions with mise
  .github/workflows/ci.yml
  Dockerfile
  mise.toml
  renovate.json
Due: none

docs(changelog): document mise-based version centralization
  CHANGELOG.md
Due: none

fix(ci): reinstall pre-commit before running hooks
  .github/workflows/ci.yml
Due: none

refactor(ci): use official pre-commit/action step
  .github/workflows/ci.yml
Due: none

fix(ci): build frontend before running Go tooling for go:embed
  .github/workflows/ci.yml
Due: none

fix: resolve golangci-lint errcheck violations
  main.go
Due: go-tests

ci: run workflow only on pull_request events
  .github/workflows/ci.yml
Due: none

ci: add release workflow to build cross-platform binaries on tags
  .github/workflows/release.yml
Due: none

docs: update CHANGELOG for release workflow
  CHANGELOG.md
Due: none

refactor(scripts): release via branch, PR, CI wait, merge, then tag
  scripts/README.md
  scripts/release.sh
Due: none

chore: prepare release v0.5.1
  CHANGELOG.md
Due: none

fix(release): wait on checks via pr view instead of gh pr checks
  scripts/release.sh
Due: none

fix(release): checkout repo in upload job so gh has git context
  .github/workflows/release.yml
Due: none

fix(renovate): remove invalid schedule from vulnerabilityAlerts
  renovate.json
Due: none

Fix Renovate package rule matchers
  renovate.json
Due: none

perf: virtualize log window, cache fetch, harden backend
  CHANGELOG.md
  frontend/src/App.jsx
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/hooks/useAutoComplete.js
  frontend/src/hooks/useWebSocket.js
  frontend/src/test/setup.js
  frontend/src/utils/__tests__/logUtils.test.js
  frontend/src/utils/cache.js
  frontend/src/utils/logUtils.js
  main.go
  main_test.go
Due: eslint, frontend-tests, go-tests

fix: stale context validation, log level defaults, filtering UX, auto-reconnect
  frontend/src/App.jsx
  frontend/src/components/logs/LogFilters.jsx
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/hooks/useAutoComplete.js
  frontend/src/utils/logUtils.js
Due: eslint, frontend-tests

fix: update test to expect info instead of unknown for unrecognized log patterns
  frontend/src/utils/__tests__/logUtils.test.js
Due: eslint, frontend-tests

fix: guard ResizeObserver for environments where it is unavailable
  frontend/src/components/logs/LogViewer.jsx
Due: eslint, frontend-tests

fix: start credential refresher only for winning cache entry to prevent goroutine leak
  main.go
Due: go-tests

fix: enforce virtual row height; preserve stored context on transient fetch failure
  frontend/src/App.jsx
  frontend/src/components/logs/LogViewer.jsx
Due: eslint, frontend-tests

docs: update changelog with recent fixes and additions
  CHANGELOG.md
Due: none

chore: prepare release v0.6.0
  CHANGELOG.md
Due: none

feat: support multiple container selection without reconnect
  frontend/src/components/common/PodContainerSelect.jsx
  frontend/src/components/common/__tests__/PodContainerSelect.test.jsx
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/utils/logUtils.js
  main.go
Due: eslint, frontend-tests, go-tests

feat: allow selecting an entire pod (all containers) in the picker
  frontend/src/components/common/PodContainerSelect.jsx
  frontend/src/components/common/__tests__/PodContainerSelect.test.jsx
Due: eslint, frontend-tests

feat: wrap long log lines in LogViewer
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/logs/__tests__/LogViewer.test.jsx
Due: eslint, frontend-tests

docs: add review_test protective gate to unit test instructions
  .github/instructions/unittestMcp.instructions.md
Due: none

fix: measure real row heights in LogViewer virtualization
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/logs/__tests__/LogViewer.test.jsx
Due: eslint, frontend-tests

fix: merge StreamConfig updates into a single onChange call
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/components/stream/__tests__/StreamConfig.test.jsx
Due: eslint, frontend-tests

test: cover comma-separated multi-container filters in logUtils
  frontend/src/utils/__tests__/logUtils.test.js
Due: eslint, frontend-tests

docs(changelog): document multi-container monitoring and word wrap
  CHANGELOG.md
Due: none

docs(changelog): date 0.7.0 release for today
  CHANGELOG.md
Due: none

feat: dynamic resource browsing and resource edit form
  CHANGELOG.md
  README.md
  frontend/package-lock.json
  frontend/src/components/management/ResourceEditForm.jsx
  frontend/src/components/management/ResourcesPanel.jsx
  frontend/src/components/management/index.js
  frontend/src/utils/index.js
  frontend/src/utils/jsonPatch.js
  go.mod
  main.go
  main_test.go
Due: eslint, frontend-tests, go-tests

fix: log window blanking on rows taller than the viewport budget
  CHANGELOG.md
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/logs/__tests__/LogViewer.test.jsx
Due: eslint, frontend-tests

fix(logs): keep virtualized rows stable during rolling buffer updates
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/logs/__tests__/LogViewer.test.jsx
Due: eslint, frontend-tests

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  go-tests: any of: \.go$
