Repository Esysc/stern-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, frontend-tests, go-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-tests:
  name: go tests
  entry: go test ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

Update Go version badge in README
  README.md
Due: none

update go version in Dockerfile
  Dockerfile
Due: none

✅ Colored Mermaid diagram - Shows the architecture with proper colors:
  README.md
Due: none

fix mermeid
  README.md
Due: none

Remove screenshot example from README
  README.md
Due: none

feat: enhanced log viewer with fullscreen, font controls, and navigation
  frontend/src/App.jsx
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/stream/StreamPanel.jsx
Due: eslint, frontend-tests

fix: improve container autocomplete with pod/container format
  frontend/src/components/stream/StreamConfig.jsx
  main.go
Due: eslint, frontend-tests, go-tests

feat: add blur-based auto-reconnect, tab detach, line numbers/wrap toggles, exact container matching
  frontend/src/App.jsx
  frontend/src/components/common/AutocompleteField.jsx
  frontend/src/components/common/InputField.jsx
  frontend/src/components/common/SelectField.jsx
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/components/stream/StreamHelp.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/components/stream/StreamTabs.jsx
  main.go
Due: eslint, frontend-tests, go-tests

follow sonarqube suggestions
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/components/layout/Header.jsx
  frontend/src/hooks/useWebSocket.js
  frontend/src/test/setup.js
  frontend/src/utils/helpers.js
Due: eslint, frontend-tests

Update Go version requirement in README
  README.md
Due: none

add taskfile
  Taskfile.yml
Due: none

update documentation
  README.md
Due: none

automated release management
  CHANGELOG.md
  README.md
  Taskfile.yml
  scripts/README.md
  scripts/release.sh
Due: none

feat: improve stream management with detach/reattach and persistent connections
  .gitignore
  README.md
  frontend/src/App.jsx
  frontend/src/components/common/AutocompleteField.jsx
  frontend/src/components/common/CheckboxField.jsx
  frontend/src/components/common/InputField.jsx
  frontend/src/components/common/SelectField.jsx
  frontend/src/components/layout/Header.jsx
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/components/stream/StreamTabs.jsx
  frontend/src/constants/index.js
  frontend/src/hooks/useAutoComplete.js
  frontend/src/hooks/useWebSocket.js
  frontend/src/utils/helpers.js
  frontend/src/utils/logUtils.js
  frontend/src/utils/storage.js
  main.go
Due: eslint, frontend-tests, go-tests

chore: prepare release v0.2.0
  CHANGELOG.md
  scripts/release.sh
Due: none

feat: improve stream management with detach/reattach and persistent connections
  .gitignore
  CHANGELOG.md
  README.md
  frontend/src/App.jsx
  frontend/src/components/common/AutocompleteField.jsx
  frontend/src/components/common/CheckboxField.jsx
  frontend/src/components/common/InputField.jsx
  frontend/src/components/common/SelectField.jsx
  frontend/src/components/layout/Header.jsx
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/components/stream/StreamTabs.jsx
  frontend/src/constants/index.js
  frontend/src/hooks/useAutoComplete.js
  frontend/src/hooks/useWebSocket.js
  frontend/src/utils/helpers.js
  frontend/src/utils/logUtils.js
  frontend/src/utils/storage.js
  main.go
  scripts/release.sh
Due: eslint, frontend-tests, go-tests

chore: prepare release v0.3.0
  CHANGELOG.md
Due: none

fix: resolve ESLint errors
  frontend/src/components/common/AutocompleteField.jsx
  frontend/src/components/common/InputField.jsx
  frontend/src/components/common/SelectField.jsx
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/constants/index.js
  frontend/src/hooks/useAutoComplete.js
  frontend/src/hooks/useWebSocket.js
  main.go
Due: eslint, frontend-tests, go-tests

add imrpovements and fix bugs
  .github/instructions/unittestMcp.instructions.md
  .github/prompts/UnitTestMcp.Batch.prompt.md
  .github/prompts/UnitTestMcp.Coverage.prompt.md
  .github/prompts/UnitTestMcp.Generate.prompt.md
  .github/prompts/UnitTestMcp.UnitTestEngineer.agent.md
  frontend/src/App.jsx
  frontend/src/components/common/AutocompleteField.jsx
  frontend/src/components/common/SelectField.jsx
  frontend/src/components/logs/LogFilters.jsx
  frontend/src/components/logs/LogStatusBar.jsx
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/stream/StreamActions.jsx
  frontend/src/components/stream/StreamHelp.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/components/stream/StreamTabs.jsx
  frontend/src/hooks/useWebSocket.js
Due: eslint, frontend-tests

address previous PR feedback
  frontend/src/App.jsx
  frontend/src/components/stream/StreamTabs.jsx
  frontend/src/hooks/useWebSocket.js
Due: eslint, frontend-tests

preparing release
  CHANGELOG.md
Due: none

chore: prepare release v0.4.0
  CHANGELOG.md
Due: none

chore: ignore built binary and tool state, drop stale deploy manifest
  .gitignore
  stern-ui.yaml
Due: none

docs: update unit test workflow instructions
  .github/instructions/unittestMcp.instructions.md
Due: none

refactor(streams): simplify log config to namespace + pod/container, add multi-stream support
  frontend/src/App.jsx
  frontend/src/App.test.jsx
  frontend/src/components/common/CheckboxField.jsx
  frontend/src/components/common/InputField.jsx
  frontend/src/components/common/PodContainerSelect.jsx
  frontend/src/components/common/SelectField.jsx
  frontend/src/components/common/__tests__/PodContainerSelect.test.jsx
  frontend/src/components/common/__tests__/SelectField.test.jsx
  frontend/src/components/common/index.js
  frontend/src/components/layout/Header.jsx
  frontend/src/components/layout/__tests__/Header.test.jsx
  frontend/src/components/logs/LogViewer.jsx
  frontend/src/components/management/ApplyPanel.jsx
  frontend/src/components/management/EventsPanel.jsx
  frontend/src/components/management/HealthPanel.jsx
  frontend/src/components/management/__tests__/ManagementPanels.test.jsx
  frontend/src/components/management/index.js
  frontend/src/components/stream/StreamActions.jsx
  frontend/src/components/stream/StreamConfig.jsx
  frontend/src/components/stream/StreamPanel.jsx
  frontend/src/components/stream/StreamTabs.jsx
  frontend/src/components/stream/__tests__/StreamTabs.test.jsx
  frontend/src/components/stream/index.js
  frontend/src/constants/index.js
  frontend/src/hooks/useAutoComplete.js
  frontend/src/hooks/useDisplaySettings.js
  frontend/src/utils/__tests__/logUtils.test.js
  frontend/src/utils/__tests__/storage.test.js
  frontend/src/utils/api.js
  frontend/src/utils/logUtils.js
  frontend/src/utils/storage.js
Due: eslint, frontend-tests

feat(cluster): add events, health and apply endpoints with slash-safe context routing
  main.go
  main_test.go
Due: go-tests

fix: run correct backend binary name on Windows
  Taskfile.yml
Due: none

fix: name Windows binary with .exe extension
  Taskfile.yml
Due: none

fix: run binary via ./ prefix so it works under Git Bash on Windows
  Taskfile.yml
Due: none

feat(events): populate namespace filter from cluster namespaces
  frontend/src/components/management/EventsPanel.jsx
  frontend/src/components/management/__tests__/ManagementPanels.test.jsx
Due: eslint, frontend-tests

feat(cluster): add resource browser for configmaps, RBAC rules and workloads
  frontend/src/App.jsx
  frontend/src/components/layout/Header.jsx
  frontend/src/components/management/ResourcesPanel.jsx
  frontend/src/components/management/__tests__/ManagementPanels.test.jsx
  frontend/src/components/management/index.js
  main.go
  main_test.go
Due: eslint, frontend-tests, go-tests

feat(cluster): add resource detail view on row click
  frontend/src/components/management/ResourcesPanel.jsx
  frontend/src/components/management/__tests__/ManagementPanels.test.jsx
  main.go
  main_test.go
Due: eslint, frontend-tests, go-tests

feat(events): show event details on row click
  frontend/src/components/management/EventsPanel.jsx
  frontend/src/components/management/__tests__/ManagementPanels.test.jsx
  main.go
Due: eslint, frontend-tests, go-tests

docs: update README for multi-stream and cluster management features
  README.md
Due: none

docs: add animated demo gif of the web UI
  README.md
  docs/demo.gif
Due: none

chore: update changelog for multi-stream and cluster management
  CHANGELOG.md
  README.md
Due: none

chore: prepare release v0.5.0
  CHANGELOG.md
Due: none

Add CI workflow with pre-commit checks first
  .github/workflows/ci.yml
Due: none

Improve Dockerfile security by running as non-root user
  Dockerfile
Due: none

Add renovate config for automated dependency updates
  renovate.json
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  go-tests: any of: \.go$
